<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkoutKing">
        <activity
            android:name=".UserProfileInfoScreen"
            android:exported="false" />
        <!-- SPLASH SCREEN (LAUNCHER) -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.WorkoutKing.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LOGIN SCREEN (AFTER SPLASH) -->
        <activity
            android:name=".LoginScreen"
            android:exported="false" /> <!-- USER SIGN-UP SCREEN -->
        <activity
            android:name=".UserSignUpScreen"
            android:exported="false" /> <!-- UNIQUE USER HOME SCREEN -->
        <activity
            android:name=".UniqueUserHomeScreen"
            android:exported="false" />
    </application>

</manifest>